<section class="flex flex-col items-center text-center mt-6 ml-2 mr-2 mb-6">
        
    <h1 class="mt-2 mb-2 text-3xl font-bold text-white">Oferta del dia:</h1>

    <div class="max-w-sm rounded overflow-hidden shadow-lg nai">

        <div class="gallery-port">
            <div class="image-port">
                <img class="w-full" src="./img/nai1.jpg" alt="Sunset in the mountains">
                <div class="hover-gallery">
                    <img class="w-full" src="./img/camello.jpg" alt="Sunset in the mountains">
                </div>
            </div>
        </div>

        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Atributos:</div>
          <ul class="text-gray-700 text-center items-center">
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Color de pelo: Rubio</li>
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Color de ojos: Castaños</li>
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Tipo de cara: Redonda</li>
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Estatura: Alta (1.70)</li>
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Tipo de cuerpo: Triangulo Invertido</li>
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Peso: 56Kg</li>
              <li class="font-bold py-2 px-4 rounded focus:shadow-outline">· Tamaño busto y gluteos: 90A y 25C (Pequeño) respectivamente</li>
           </ul>
           <div class="font-bold text-xl mb-2">Valor total en Camellos: 60</div>
           <p class="font-bold text-xs mb-2">Pero solo por hoy, ofertas en el CiberDay se queda en 55 camellos esta chica (No lo necesitamos)</p>
        </div>

        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#sugardady</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#gerontofilia</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#payforme</span>
        </div>
    </div>
</section>

<section class="flex flex-col items-center text-center mt-6 ml-2 mr-2 mb-6">
    
    <h1 class="mt-2 mb-2 text-3xl font-bold text-white">Interesados:</h1>

    <div class="flex flex-wrap items-center text-center mt-6 ml-2 mr-2 mb-6">
        <div class="max-w-sm rounded overflow-hidden shadow-lg pretendient mt-6 ml-2 mr-2 mb-6">

            <img class="w-full" src="./img/pretendiente1.jpg" alt="Sunset in the mountains">

            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">أسامة بن لادن</div>
            </div>

            <div class="px-6 pt-4 pb-2">
               <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Oferta: 54 Camellos</span>
            </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg pretendient mt-6 ml-2 mr-2 mb-6">

            <img class="w-full" src="./img/pretendiente2.jpg" alt="Sunset in the mountains">

            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Nacho Vidal</div>
            </div>

            <div class="px-6 pt-4 pb-2">
               <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Oferta: 56 Camellos</span>
            </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg pretendient mt-6 ml-2 mr-2 mb-6">

            <img class="w-full" src="./img/pretendiente3.jpg" alt="Sunset in the mountains">

            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">George Soros</div>
            </div>

            <div class="px-6 pt-4 pb-2">
               <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Oferta: 53 Camellos</span>
            </div>
        </div>            
    </div>

</section>